<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBgI5bTgFfKlY7S9QjIx529HIpYzM7vwE0</string>
	<key>GCM_SENDER_ID</key>
	<string>49868160518</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.thi.omn1sph4re</string>
	<key>PROJECT_ID</key>
	<string>app374-7e1e9</string>
	<key>STORAGE_BUCKET</key>
	<string>app374-7e1e9.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:49868160518:ios:225776b225906e06da4d87</string>
</dict>
</plist>